/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.infobar {
  color: var(--color-text-primary);
  display: flex;
  flex: auto;
  border-bottom: 1px solid var(--color-details-hairline);
  flex-direction: column;
  position: relative;
  padding: 1px 6px 1px;
}

.infobar:focus {
  box-shadow: 0 0 0 2px var(--color-background-elevation-2) inset;
}

.infobar-warning {
  --override-infobar-warning-background: rgb(253 242 192);

  background-color: var(--override-infobar-warning-background);
}

.-theme-with-dark-background .infobar-warning,
:host-context(.-theme-with-dark-background) .infobar-warning {
  --override-infobar-warning-background: rgb(63 52 2);
}

.infobar-main-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 25px;
}

.infobar-info-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.infobar-info-message {
  display: flex;
  margin: 5px 0;
}

.infobar-info-text {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.infobar-details-rows {
  padding: 5px 5px 0 5px;
}

.infobar-details-row {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  padding-bottom: 6px;
}

.infobar-close-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.infobar-close-container > .infobar-button.link-style {
  margin: 4px;
}

.infobar-button {
  color: var(--color-text-secondary);
  cursor: pointer;
  padding: 0 4px;
}

.info-icon {
  -webkit-mask-image: var(--image-file-ic_info_black_18dp);
  background-color: var(--color-primary);
}

.warning-icon {
  --override-warning-icon-color: hsl(44deg 92% 50%);

  -webkit-mask-image: var(--image-file-ic_warning_black_18dp);
  background-color: var(--override-warning-icon-color);
}

.-theme-with-dark-background .warning-icon,
:host-context(.-theme-with-dark-background) .warning-icon {
  --override-warning-icon-color: rgb(245 182 10);
}

.issue-icon {
  -webkit-mask-image: var(--image-file-issue-text-icon);
  background-color: var(--color-primary);
}

.icon {
  -webkit-mask-size: 18px 18px;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
