#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @zoomchan-cxj

# cmake related
*.cmake @medns
CMakeLists.txt @medns

# driver: js
/.eslintignore @zoomchan-cxj
/.eslintrc.js @zoomchan-cxj
/.nycrc @zoomchan-cxj
/ava.config.js @zoomchan-cxj
/core/ @churchill-zhang
/core/js/ @zoomchan-cxj
/packages/ @zoomchan-cxj

# framework: android
/android/ @siguangli
/android/**/src/main/jni/ @churchill-zhang

# framework: ios
/ios/ @ozonelmy

# dom: layout
/layout/ @ilikethese

# gh: config
/.github/ @zoomchan-cxj

# doc: example
/examples/ @zoomchan-cxj
/examples/hippy-*-demo/ @zoomchan-cxj
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zoomchan-cxj
/examples/ios-demo/ @ozonelmy
/examples/ios-demo/res/ @zoomchan-cxj
/examples/static/ @zoomchan-cxj

# doc: pages
/*.md @zoomchan-cxj
/docs/ @zoomchan-cxj

# build: gradle
/gradle.properties @siguangli
/gradlew @siguangli
/gradlew.bat @siguangli
/settings.gradle @siguangli
/build.gradle @siguangli
/gradle/ @siguangli

# build: xcode
/hippy.podspec
/Hippy.xcworkspace/ @ozonelmy

# build: config
/buildconfig/ @medns

# build: js
/tsdoc.json @zoomchan-cxj
/tsconfig.json @zoomchan-cxj
/lerna.json @zoomchan-cxj
/scripts/ @zoomchan-cxj

# build: docker
/docker/ @medns
