#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @ilikethese @churchill-zhang @zoomchan-cxj @siguangli @ozonelmy @medns

*.js @zoomchan-cxj
*.java @siguangli
*.cc @churchill-zhang @medns @ilikethese
*.h @ozonelmy
*.m @ozonelmy
*.mm @ozonelmy

/.github/ @zoomchan-cxj
/.husky/ @zoomchan-cxj
/docker/ @medns
/package.json @zoomchan-cxj
/package-lock.json @zoomchan-cxj
/.nycrc @zoomchan-cxj
/.npmignore @zoomchan-cxj
/.editorconfig @zoomchan-cxj
/.eslintignore @zoomchan-cxj
/.npmignore @zoomchan-cxj
/lerna.json @zoomchan-cxj
/tsconfig.json @zoomchan-cxj

/docs/ @zoomchan-cxj

/dom/ @churchill-zhang @ilikethese

/driver/js/core/ @churchill-zhang @zoomchan-cxj
/driver/js/core/js/ @zoomchan-cxj

/driver/js/android/ @siguangli @churchill-zhang
/driver/js/ios/ @ozonelmy @churchill-zhang
/driver/js/flutter/ @lvfen @battleAgain

/driver/js/examples/android-demo/ @siguangli
/driver/js/examples/android-demo/res/ @zoomchan-cxj
/driver/js/examples/ios-demo/ @ozonelmy
/driver/js/examples/ios-demo/res/ @zoomchan-cxj
/driver/js/examples/hippy-react-demo/ @zoomchan-cxj
/driver/js/examples/hippy-vue-demo/ @zoomchan-cxj

/driver/js/packages/ @zoomchan-cxj

/gradle/ @siguangli @medns
/layout/ @ilikethese

/renderer/native/android/ @siguangli
/renderer/native/ios/ @ozonelmy
/renderer/flutter/ @lvfen @battleAgain

/scripts/ @zoomchan-cxj
