#####################################################
#
# List of approvers for Hippy
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @ilikethese @churchill-zhang @zoomchan-cxj @siguangli @ozonelmy @medns

*.js @zoomchan-cxj
*.java @siguangli
*.cc @churchill-zhang @medns
*.h @ozonelmy
*.m @ozonelmy
*.mm @ozonelmy

# ci, build & doc related
/.github/ @zoomchan-cxj @medns
/.gitattributes @zoomchan-cxj @medns
/.husky/ @zoomchan-cxj
/docker/ @medns
/buildconfig/ @medns
/docs/ @zoomchan-cxj
/.editorconfig @zoomchan-cxj
/.gitignore @zoomchan-cxj
/.markdownlintrc.json @zoomchan-cxj

# core related
/core/ @churchill-zhang @zoomchan-cxj
/core/js/ @zoomchan-cxj

# android related
/android/ @siguangli @churchill-zhang
/gradle/ @siguangli @medns
/gradle.properties @siguangli @medns
/gradlew @siguangli @medns
/gradlew.bat @siguangli @medns
/setting.gradle @siguangli @medns
/build.gradle @siguangli @medns

# iOS related
/ios/ @ozonelmy @churchill-zhang
/hippy.podspec @ozonelmy

# examples related
/examples/android-demo/ @siguangli
/examples/android-demo/res/ @zoomchan-cxj @siguangli
/examples/ios-demo/ @ozonelmy
/examples/ios-demo/res/ @zoomchan-cxj @ozonelmy
/examples/hippy-react-demo/ @zoomchan-cxj
/examples/hippy-vue-demo/ @zoomchan-cxj

# layout related
/layout/ @ilikethese @churchill-zhang

# js sdk related
/packages/ @zoomchan-cxj
/scripts/ @zoomchan-cxj
/tsconfig.json @zoomchan-cxj
/package.json @zoomchan-cxj
/package-lock.json @zoomchan-cxj
/.eslintignore @zoomchan-cxj
/.nycrc @zoomchan-cxj
/lerna.json @zoomchan-cxj


