node_modules*
dist/
coverage
// TODO: ts-lint check hippy-vue/types in future
packages/hippy-vue/types
packages/hippy-debug-server/webpack-dev-server/client
packages/hippy-debug-server/webpack-dev-server/lib
packages/hippy-vue-loader/lib
framework/js/packages/hippy-vue/types
framework/js/packages/hippy-debug-server/webpack-dev-server/client
framework/js/packages/hippy-debug-server/webpack-dev-server/lib
framework/js/packages/hippy-vue-loader/lib
