.DS_Store
.nyc_output
.vscode
.vs
.idea
.gradle
.externalNativeBuild
.cxx

build
coverage
dist
node_modules

*.log
*.iml
local.properties
maven-auth.properties

layout/out
layout/cproject
layout/.project
layout/.settings

docs/assets/*.png
docs/assets/*.jpg
docs/assets/*.gif
docs/assets/*.ico
docs/assets/*.js
docs/assets/*.css

examples/*/res/vendor-manifest.json
examples/android-demo/libs/*
examples/android-demo/src/main/assets/*
examples/ios-demo/HippyDemo.xcodeproj/xcuserdata/*
examples/ios-demo/HippyDemo.xcodeproj/project.xcworkspace/xcuserdata/*
examples/ios-demo/Pods
examples/ios-demo/Podfile.lock
examples/ios-demo/HippyDemo.xcworkspace


packages/hippy-vue-loader/remote-debug-profile/*
