*.log
.DS_Store
.nyc_output
.vscode
coverage
dist
node_modules
layout/out
layout/build
layout/cproject
layout/.project
layout/.settings
examples/*/res/vendor-manifest.json
android/sdk/src/main/jni/core
examples/android-demo/example/src/main/assets/
examples/ios-demo/HippyDemo.xcodeproj/project.xcworkspace/xcuserdata/*
examples/ios-demo/HippyDemo.xcodeproj/xcuserdata/*

# android
*.iml
local.properties
.idea/
.gradle/
build/
.externalNativeBuild
