*.log
renderer/flutter/example/ios/.symlinks/*
.DS_Store
.nyc_output
.vscode
coverage
dist
node_modules
layout/out
layout/build
layout/cproject
layout/.project
layout/.settings
framework/js/examples/*/res/vendor-manifest.json
framework/js/android/src/main/jni/.vs
framework/js/android/maven-auth.properties
framework/js/android/local.properties
framework/js/android/.cxx/*
framework/js/android/libs/armeabi-v7a/libhippybridge.so
framework/js/android/libs/arm64-v8a/libhippybridge.so
framework/js/android/libs/x86/libhippybridge.so
framework/js/android/libs/x86_64/libhippybridge.so
framework/js/examples/android-demo/src/main/assets/
framework/js/examples/android-demo/libs/*
framework/js/examples/android-demo/maven-auth.properties
framework/js/examples/android-demo/.cxx/
framework/js/examples/ios-demo/HippyDemo.xcodeproj/project.xcworkspace/xcuserdata/*
framework/js/examples/ios-demo/HippyDemo.xcodeproj/xcuserdata/*
framework/js/examples/hippy-react-demo/package-lock.json
framework/js/examples/hippy-vue-demo/package-lock.json

framework/js/android/cmake-build-debug/*
framework/js/android/src/main/jni/cmake-build-debug/*
framework/js/packages/hippy-vue-loader/remote-debug-profile/*
framework/js/packages/hippy-debug-server/webpack-dev-server/client

docs/assets/*.png
docs/assets/*.jpg
docs/assets/*.gif
docs/assets/*.ico
docs/assets/*.js
docs/assets/*.css

examples/*/res/vendor-manifest.json
android/sdk/src/main/jni/.vs
android/sdk/maven-auth.properties
android/sdk/local.properties
android/sdk/.cxx/*
android/sdk/libs/armeabi-v7a/libhippybridge.so
android/sdk/libs/arm64-v8a/libhippybridge.so
android/sdk/libs/x86/libhippybridge.so
android/sdk/libs/x86_64/libhippybridge.so
examples/android-demo/example/src/main/assets/
examples/android-demo/example/libs/*
examples/ios-demo/HippyDemo.xcodeproj/project.xcworkspace/xcuserdata/*
examples/ios-demo/HippyDemo.xcodeproj/xcuserdata/*
examples/hippy-react-demo/package-lock.json
examples/hippy-vue-demo/package-lock.json
examples/android-demo/maven-auth.properties
examples/android-demo/example/.cxx/
packages/hippy-vue-loader/remote-debug-profile/*
packages/hippy-debug-server/webpack-dev-server/client

android/cmake-build-debug/*
android/src/main/jni/cmake-build-debug/*

dom/lib/*
renderer/flutter/core/lib/*

renderer/native/android/src/main/jni/lib/*

# android
*.iml
local.properties
.idea/
.gradle/
build/
.externalNativeBuild

# core
framework/js/core/ARM
.vs/
