{
  "include": [
    "framework/js/packages/**/*.js"
  ],
  "exclude": [
    "framework/js/packages/**/__tests__/*.test.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "require": [
    "esm",
    "module-alias/register",
    "./scripts/flow-remove-types",
    "./scripts/mock-global"
  ]
}
