/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.object-popover-content {
  display: block;
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.object-popover-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  padding-left: 18px;
  padding-bottom: 2px;
}

.object-popover-tree {
  border-top: 1px solid var(--color-details-hairline);
  overflow: auto;
  width: 100%;
  height: calc(100% - 13px);
}

.object-popover-container {
  display: inline-block;
}

.function-popover-title {
  border-bottom: 1px solid var(--color-details-hairline);
  margin-bottom: 3px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.function-popover-title .function-name {
  font-weight: bold;
}

.function-title-link-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.function-title-link-container .devtools-link {
  white-space: nowrap;
  overflow: hidden;
}
