name: '[android] build tests'

on:
  pull_request:
    branches:
      - main
      - master
      - v3.0-dev
      - v3.0
    paths:
      - 'driver/js/android/**'
      - 'driver/js/core/**'
      - 'dom/**'
      - 'layout/engine/**'
      - 'modules/android/**'
      - 'modules/footstone/**'
      - 'renderer/native/android/**'
      - 'devtools/devtools-backend/**'
      - 'gradle/**'
      - 'build.gradle'
      - 'gradle.properties'
      - 'settings.gradle'
      - 'gradlew'
      - 'gradlew.bat'

jobs:
  android_build_tests:
    runs-on: [self-hosted, linux]
    container:
      image: ghcr.io/tencent/android-release:latest # repository name must be lowercase(${{ github.repository_owner }})
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 10
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        lfs: true
    - name: Debug Build
      run: |
        ./gradlew example::assembleDebug
