name: '[android] build tests'

on:
  pull_request:
    branches:
      - main
      - master
      - v3.0-dev
      - v3.0
    paths-ignore:
      - 'driver/js/android/**'
      - 'driver/js/core/**'
      - 'layout/android/**'
      - 'renderer/native/android/**'
      - 'gradle/**'
      - 'build.gradle'
      - 'gradle.properties'
      - 'settings.gradle'
      - 'gradlew'
      - 'gradlew.bat'

jobs:
  android_build_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Build Test Bypass
      run: |
        echo "No build test required"
