name: '[FrontEnd] check js code'

on:
  push:
    paths:
      - 'framework/js/packages/**'
      - 'framework/js/examples/hippy-*-demo/**'
      - 'scripts/**/*.js'
      - 'framework/js/core/js/**/*.js'
    branches:
      # Push events on main branch
      - main
      # Push events on master branch
      - master
    tags-ignore:
      - '**'
  pull_request:
    paths:
      - 'framework/js/packages/**'
      - 'framework/js/examples/hippy-*-demo/**'
      - 'scripts/**/*.js'
      - 'framework/js/core/js/**/*.js'
    branches:
      # Pull request events to main branch
      - main
      # Pull request events to master branch
      - master
    tags-ignore:
      - '**'

jobs:
  check_js:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 10.x, 14.x ]
    steps:
      - uses: actions/checkout@v2
      - name: setup-node
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://npm.pkg.github.com
      - name: install
        run: npm install
      - name: lint
        run: npm run lint
      - name: test
        run: npm run coverage
      - name: coverage
        if: matrix.node == '14.x'
        uses: codecov/codecov-action@v2
      - name: build
        run: npm run build
