name: '[front-end] build tests'

on:
  pull_request:
    branches:
      - main
      - master
      - v3.0-dev
      - v3.0
    paths:
      - 'driver/js/packages/**'
      - 'driver/js/examples/hippy-*-demo/**'
      - 'driver/js/core/js/**/*.js'
      - 'driver/js/scripts/**/*.js'
      - 'package*.json'
      - 'scripts/**/*.js'
defaults:
  run:
    working-directory: driver/js
jobs:
  frontend_build_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 14.x, 17.x ]
    steps:
      - uses: actions/checkout@v2
      - name: setup-node
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://npm.pkg.github.com
      - name: install
        run: npm install && lerna bootstrap
      - name: lint & build
        run: npm run lint & npm run build
      - name: test
        run: npm run coverage
      - name: coverage
        if: matrix.node == '14.x'
        uses: codecov/codecov-action@v2
