name: '[front-end] build tests'

on:
  pull_request:
    branches:
      - main
      - master
      - v3.0-dev
      - v3.0
    paths-ignore:
      - 'driver/js/packages/**'
      - 'driver/js/examples/hippy-*-demo/**'
      - 'driver/js/core/js/**/*.js'
      - 'package*.json'
      - 'scripts/**/*.js'

jobs:
  frontend_build_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 14.x ]
    steps:
      - name: Build Test Bypass
        run: |
          echo "No build test required"
