name: '[gh] pull request file license header checks'

on:
  workflow_dispatch:
    inputs:
      commit-from:
        description: 'specify the start of commit hash'
        required: true
      commit-to:
        description: 'specify the end of commit hash'
        required: true
  pull_request:
    branches:
      - master
      - main
      - v3.0-dev
      - v3.0
    paths:
      - '**.tsx?'
      - '**.jsx?'
      - '**.vue'
      - '**.ejs'
      - '**.mjs'
      - '**.es6'
      - '**.css'
      - '**.less'
      - '**.scss'
      - '**.hh?'
      - '**.hpp'
      - '**.h\\+\\+'
      - '**.hxx'
      - '**.cc?'
      - '**.c\\+\\+'
      - '**.cpp'
      - '**.C'
      - '**.cxx'
      - '**.mm?'
      - '**.swift'
      - '**.cmake'
      - '**.java'
      - '**.txt'
      - '**.sh'
      - '**.yaml'
      - '**.bat'
      - '**.dart'
      - "**.py"

jobs:
  pull_request_license_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check License or Date from github PR files
        uses: zoomchan-cxj/actions-license@v0.1.0
        with:
          config-path: .github/workflows/config/license-check.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          FORCE_COLOR: 3
