name: '[gh] pull request labeler'

on:
  pull_request_target:
    branches:
      - master
      - main
      - v3.0-dev
      - v3.0

jobs:
  pull_request_labeler:
    if: github.repository == 'Tencent/Hippy'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Path
      uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: ".github/workflows/config/pr-path-labeler.yml"
        sync-labels: true
    - name: Size
      uses: julrocas/pr-size-labeler@v1.0
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: ".github/workflows/config/pr-size-labeler.yml"
