name: '[ios] build tests'

on:
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - 'ios/**'
      - 'core/**'
      - 'hippy.podspec'

jobs:
  ios_build_tests:
    runs-on: macos-latest
    steps:
    - name: Build Test Bypass
      run: |
        echo "No build test required"
