name: '[ios] build tests'

on:
  pull_request:
    branches:
      - master
      - main
      - v3.0-dev
      - v3.0
    paths-ignore:
      - 'framework/ios/**'
      - 'driver/js/lib/**'
      - 'driver/js/src/**'
      - 'driver/js/include/**'
      - 'driver/js/CMakeLists.txt'
      - 'dom/**'
      - 'layout/engine/**'
      - 'modules/ios/**'
      - 'modules/footstone/**'
      - 'renderer/native/ios/**'
      - 'devtools/devtools-backend/**'
      - 'hippy.podspec'

jobs:
  ios_build_tests:
    runs-on: macos-latest
    steps:
    - name: Build Test Bypass
      run: |
        echo "No build test required"
