name: '[ios] build tests'

on:
  pull_request:
    branches:
      - master
      - main
      - v3.0-dev
      - v3.0
    paths:
      - 'driver/js/ios/**'
      - 'driver/js/core/**'
      - 'dom/**'
      - 'layout/engine/**'
      - 'modules/ios/**'
      - 'modules/footstone/**'
      - 'renderer/native/ios/**'
      - 'devtools/devtools-backend/**'
      - 'hippy.podspec'

jobs:
  ios_build_tests:
    runs-on: macos-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          lfs: true
      - name: Build
        run: |
          pushd driver/js/examples/ios-demo && pod install && xcodebuild build -destination 'name=iPhone 11' -scheme 'HippyDemo' -workspace 'HippyDemo.xcworkspace' && popd
