name: build

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - uses: wagoid/commitlint-github-action@v1
        with:
          configFile: .commitlintrc.js
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - name: setup-node
        uses: actions/setup-node@master
        with:
          node-version: 10.x
      - name: install
        run: npm install
      - name: lint
        run: npm run lint
      - name: markdownlint
        run: npm run markdownlint
      - name: test
        run: npm run test
      - name: build
        run: npm run build
